@model IEnumerable<Specialization>
@{
    ViewData["Title"] = "الصفحة الرئيسية";
}


<style>
    .schedule {
        margin-top: 50px;
        position: relative;
        z-index: 1;
    }

    .slider {
        position: relative;
        z-index: 0;
    }

</style>
<!-- Slider Area -->
<section class="slider">
    <div class="hero-slider owl-carousel owl-theme">
        <!-- Slide 1 -->
        <div class="single-slider" style="background-image: url('img/s3.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>
                                المعهد الليبي للمالية العامة
                                <span>يُعنى بتأهيل الكفاءات الوطنية</span> في مجال المالية العامة
                            </h1>
                            <p></p>
                          @*   <div class="button">
                                <a href="#" class="btn">Get Appointment</a>
                                <a href="#" class="btn primary">About Us</a>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="single-slider" style="background-image: url('img/s1.png');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>
                                المعهد الليبي للمالية العامة
                                <span>يُعنى بتأهيل الكفاءات الوطنية</span> في مجال المالية العامة!
                            </h1>
                            <p></p>
                          @*   <div class="button">
                                <a href="#" class="btn">Get Appointment</a>
                                <a href="#" class="btn primary">Contact Now</a>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="single-slider" style="background-image: url('img/s2.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>
                                المعهد الليبي للمالية العامة
                                <span>يُعنى بتأهيل الكفاءات الوطنية</span> في مجال المالية العامة
                            </h1>
                            <p></p>
                          @*   <div class="button">
                                <a href="#" class="btn">Get Appointment</a>
                                <a href="#" class="btn primary">Learn More</a>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Schedule Section -->
<section class="schedule">
    <div class="container">
        <div class="schedule-inner">
            <div class="row">
                <!-- Schedule Item 1 -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-schedule first">
                        <div class="inner">
                            <div class="icon"><i class="fa fa-ambulance"></i></div>
                            <div class="single-content">
                                <h4>إعلان</h4>
                                <p>📢 يُعلن المعهد الليبي للمالية العامة عن انطلاق دورة تدريبية بعنوان: "أساسيات إعداد الموازنة العامة"</p>
                                <a href="#">إقرأ المزيد<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Schedule Item 2 -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-schedule middle">
                        <div class="inner">
                            <div class="icon"><i class="icofont-prescription"></i></div>
                            <div class="single-content">
                                <h4>📣 فرصة تدريبية مميزة!</h4>
                                <p>يسر المعهد الليبي للمالية العامة دعوتكم للالتحاق بدورة تدريبية بعنوان: "تحليل البيانات المالية واتخاذ القرار"</p>
                                <a href="#">إقرأ المزيد<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Schedule Item 3 -->
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="single-schedule last rtl">
                        <div class="inner">
                            <div class="icon"><i class="icofont-ui-clock"></i></div>
                            <div class="single-content">
                                <h4>مواعيد الدورات</h4>
                                <ul class="time-sidual">
                                    <li class="day">الاثنين - الخميس <span>8.00-20.00</span></li>
                                    <li class="day">الثلاثاء <span>9.00-18.30</span></li>
                                    <li class="day">السبت - الاربعاء <span>9.00-15.00</span></li>
                                </ul>
                                <a href="#">إقرأ المزيد<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
