@model CourseClassification

@{
    ViewData["Title"] = ViewContext.RouteData.Values["controller"]?.ToString() +
    " - " + ViewContext.RouteData.Values["action"]?.ToString();
}
<h4>
    <b>@ViewContext.RouteData.Values["controller"]?.ToString()</b>
    - @ViewContext.RouteData.Values["action"]?.ToString()
</h4>
<hr />


<div class="container" style="min-height:71.5vh;">
    <div class="row">
        @if (ViewBag.Message != null)
        {
            <h5 class="alert alert-danger">@ViewBag.Message</h5>
        }
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Created" value="@DateTime.Now" />

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-outline-primary">الرجوع الى القائمة</a>
                </div>
            </form>
            

        </div>
    </div>
</div>


@section Scripts {
    @{
         await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

