@{
    ViewBag.Title = "Result";
}


<div class="container pt-5 mt-5">
    <div class="row">
        @if (ViewBag.SuccessTitle != null || ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success shadow text-center">
                <h3>@ViewBag.SuccessTitle</h3>
                <hr />
                <p>@ViewBag.SuccessMessage</p>
            </div>
        }
        else @if (ViewBag.ErrorTitle != null || ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger shadow text-center">
                <h3>@ViewBag.ErrorTitle</h3>
                <hr />
                <p>@ViewBag.ErrorMessage</p>

                @if (ViewBag.ResetPassword == "Reset Password")
                {
                    <hr />
                    <label>or you can</label>
                    <a asp-action="ResetPassword">Reset Password</a>
                }
            </div>
        }
    </div>
</div>
